<div class="row">
        <div class="col-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" id="datatable">
                            <thead>
                                <tr>
                                    <th>主机名</th>
                                    <th>IP</th>
                                    <th>操作系统</th>
                                    <th>配置</th>
                                    <th>磁盘</th>
                                    <th>添加时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>